@import "../../assets/sass/variables";

.header_container{
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 40px;

    &._container{
        margin: 48px auto;
    }

    .input_group{
        display: flex;
        align-items: center;
        height: 56px;
        width: 480px;
        position: relative;
        padding-right: 20px;
        box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
        background: $color_white;
        border-radius: 5px;

        span{
            height: 18px;
            width: 18px;
            background-image: url("./images/search.svg");
            position: absolute;
            left: 30px;
        }
        input{
            font: 400 14px/20px $font_primary;
            border: none;
            outline: none;
            width: 100%;
            margin-left: 70px;
            
            
            &::placeholder{
                color: #848484;
            }
        }
    }

    .filter_dropdown{

        .Dropdown-control{
            padding-left: 24px;
            width: 200px;
            height: 56px;
            display: flex;
            align-items: center;
            border: none;
            font: 400 14px/20px $font_primary;
            box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
            border-radius: 5px;
            cursor: pointer;
            transition: none;

            .Dropdown-placeholder{
                color: $text_black;
            }

            .arrow-closed,
            .arrow-open{
                background-image: url("./images/arrow.svg");
                background-position: center;
                background-repeat: no-repeat;
                display: block;
                height: 10px;
                position: absolute;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
                width: 10px;
                transition: transform .2s;
            }

            .arrow-open{
                transform: translateY(-50%) rotate(180deg);
            }
        }

        .Dropdown-menu{
            border: none;
            top: 110%;
            box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
            border-radius: 5px;
            font: 400 14px/20px $font_primary;

            .Dropdown-option{
                color: #111517;
                padding-left: 23px;

                &.is-selected,
                &:hover{
                    background-color: #f8f8f8;
                }
            }
        }

    }
}

.flags_container{
    display: grid;
    gap: 75px;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    justify-items: center;
    padding-bottom: 50px;
}

.dark {
    .input_group{
        background: $color_dark_1;
        span{
            background-image: url("./images/search_dark.svg");
        }
        input{
            background: $color_dark_1;
            color: $color_white;

            &::placeholder{
                color: $color_white;
            }
        }
    }

    .filter_dropdown{
        .Dropdown-control{
            background: $color_dark_1;
            .Dropdown-placeholder{
                color: $color_white;
            }
            .arrow-closed,
            .arrow-open{
                background-image: url("./images/arrow_dark.svg");
            }
        }
        .Dropdown-menu{
            background: $color_dark_1;
            .Dropdown-option{
                color: $color_white;
                &.is-selected,
                &:hover{
                    background-color: #25313b;
                }
            }
        }
    }
}