/* Colors */
$color_primary: #02295a;
$color_secondary: #473dff;
$color_red: #ed3548;


$color_white: #fff;
$color_black: #000;

$text_black: #111517;

/* Dark Mode */
$color_dark_1: #2B3844;

/* Fonts */
$font_primary: "Nunito Sans", sans-serif;

/* Breakpoints */
$bp_sm: 400px;
$bp_lg: 1280px;